.menu ul{
    text-align: center;
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin-left: -10px;
    list-style: none;
  


}

  

.logo{
    margin-top: 30px;
   
}
.text {
   
}
.menu1 ul{
   float: right;
   display: flex;
   list-style-type: none; 
   

    
}
.nav-bar{
    height: 5px;
    margin-top: 30px;
}
a{
    text-decoration: none;
    display: block;
    min-width: 80px;
    text-align: center;
    


}
.text1 {
    margin-top: 90px;
    margin-left: 350px;
    word-spacing: 50px;
    
    
    
}

.menu ul li{
    background-color: #00353F;
    height: 40px;
    
   
    
    
}
.com {
    background-color: #00353F;
    height: 50px;
    font-size: 30px;
    border-radius: 5px;
    color: white;
}

    

.menu ul li a{
    color: white;
    margin-top: 10px;
    
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
    box-shadow: 30px;
    background-color:white;

}
.reseau {
    height: 50px;
    font-size: 30px;
    color: #00353F;
    border-radius: 5px; 
}

.menu1 ul li a{
    color: #00353F;
    margin-top: 15px;
}
.section1 h1{
    color: #00353F; 
    margin-top: 50px;
    margin-left: 5px;


}
.text{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-left: -200px;
    margin-top: 70px;
    

}

.div {
    text-align: justify;
    text-align: center;
    margin-left: 60px;
    font-size: 20px;
}
.logo {
    font-size: 20px;
    margin-left: 75px;
    
}

    


.button{
    text-align: center;
    justify-content: center;
    justify-content: space-around;
}
.section2 {
    text-align: center;
    background-color: #00353F;
    color: aliceblue;
    padding: 50px;
    margin-top: 70px;
    
    
    
}
.div6 {
    margin-top: 150px;
    font-size: 30px;
}
.logo {
    margin-left: -40px;

    
    
}
.div3 {
    text-align: center;
    justify-content: center;
    justify-content: space-around;
    display: flex;
    margin-top: 100px;
    background-color: rgb(179, 248, 248);
    height: 400px;
    width:  1070px;
    margin-left: 90px;
    border-radius: 20px;
    
}
.div3 img{
    height: 200px;
    margin-top: 100px;
}




.bar {

    background-color: #00353F;
    width: 230px;
    height: 5px;
    border-radius: 5px;
    
    
}
.div2 {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}
.div6 {
    text-align: center;
    justify-content: center;
    color: #00353F;
    margin-top: 50px;
}


.Temoins {
    
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 60px;
    padding: 100px;
    
    
    
    
    
    
}
.div8 {
    font-size: 20px;
}
.div11 {
    font-size: 20px;
}
.B1{
    width: 1900px;
    height: 500px;
    background-color: #00353F;
}
.div7 {
    margin-top: 100px;
    margin-left: 150px;
    border: 1px solid #00353F;;
    border-radius: 30px;
    padding: 15px;
}
.div13 {
    margin-top: 80px;
}
.div14 {
    text-align: center;
    justify-content: center;
    color: #00353F;
}
.put {
    margin-left: 250px;
    background-color: #00353F;
    padding-left: 70px;
    width: 650px;
    height: 350px;
    color: white;

    
    
}
.Y{
    height: 50px;
}
.form{
    width: 30rem;
    height: 30px;
    text-align: center;
    justify-content: center;
    
}
.div15 {
    width: 30rem;
    height: 80px;
    
}
.div14 {
    font-size: 30px;
}
.div17 {
    
    display: flex;
    justify-content: space-around;
    color: aliceblue;
}
.div16 {
    background-color: black;
    margin-top: 140px;
    width: 1300px;
    margin-left: -400px;
    height: 410px;
    

}

.socio {
    margin-top: 70px;
    color: #00353F;
    background-color: white;
    width: 20px;
    height: 80px;
    border-radius: 5px;
    display: block;
    padding: 5px;
  
}
.div9 {
    margin-top: 270px;
    margin-left: -550px;
    font-size: 30px;
    color: #00353F;
}
.sociaux {
    margin-left: 650px;
    color: #00353F;
    background-color: white;
    height: 20px;
    width: 80px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 5px;
    
    
}
.div12 {
    margin-top: 300px;
    font-size: 30px;
    color: #00353F;
}
.copy{
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}
.Temoins img{
    margin-top: -90px;
}
.div5 {
    margin-top: 190px;
    font-size: 30px;
}
.div4 {
    margin-top: 190px;
    font-size: 30px;
}
